
<%- include('./header.ejs')%>
<!-- <h1> <%=title%></h1> -->
<%if (locals.user){%>
    <section id="post-feeds">
        <h1>Posts </h1>
        <form action="/posts/create" method="post" id="new-post-form">
            <textarea name="content" id="" cols="30" rows="3" placeholder="Express your thoughts........" required></textarea>
            <input type="submit" value="post">
        </form>

    </section>
<%}else %>
<%{%>
    <h1>Please Sign In / Login to post </h1>

<%}%>  

<section id="posts-list-container">
    <h2>Feed</h2>
    <ul>
        <%for( post of posts){%>
            <small>
                <li><%=post.users.name%></li>
            </small>
            <li><%=post.content%></li>

        <%}%>
    </ul>

</section>