<html>
    <head>
        <title><%= title%></title>
        <link rel="stylesheet" href="/css/test.css">
    </head>
    <body>
        <%- include('./header.ejs')%>
        <h1>Codeial / <%= title%></h1>
    </body>
</html>