header {
  width: 100vw;
  color: white;
  height: 50px;
  background-color: #0661e9; }
  header .navbar {
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  header .logo {
    font-size: 50px; }
  header ul {
    display: flex;
    gap: 20px;
    list-style: none; }
    header ul li {
      text-decoration: none;
      color: white; }
      header ul li a {
        color: white;
        text-decoration: none; }
        header ul li a :hover {
          text-decoration: underline; }
